.button {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    background: white;
    color: #4e54c8;
    text-decoration: none;
}

.button--outline {
    background-color: transparent;
    background-image: none;
    border-color: white;
    color: white;
}

.button--primary:active {
    box-shadow: 0 0 0 0.2rem #4e54c8
}

.button--large {
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
}

.button--small {
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
}

.button--link {
    background-color: transparent;
    background-image: none;
    color: white;
}

.button--header {
    display: flex;
    align-self: center;
    height: 2rem;
}