.group {
    box-shadow: 0px 7px 7px -5px rgba(0, 0, 0, .4) inset;
    padding: 1rem 5vw
}

.group--header {
    box-shadow: none;
}

.group__name {
    font-weight: normal;
    white-space: nowrap;
}